body, html {
	height: 100%;
	font-family: 'Montserrat', sans-serif !important;
}

html {
  scroll-behavior:smooth;
}


section:before {
    height: 54px;
    content: "";
    display:block;
}

.parallax-header {
	background-image: url("../images/header-mtn.jpg");
	height: 100% !important;
}

.parallax {
	height: 60%;
	/* Create the parallax scrolling effect */
  	background-attachment: fixed;
  	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.7;
	font-family: 'Roboto Slab', monospace;
	color: white;
}

.parallax-section1 {
	background-position: center;
	background-image: url("../images/header-feet.png");
}

.parallax-section2 {
	background-image: url("../images/alps.jpg");
}

.parallax-section3 {
	background-image: url("../images/snow.jpg");
}


.px-lg-6 {
	padding-left:5rem!important;
	padding-right:5rem!important;
}

.name-header {
	color: #fff;
	font-size: 120%;
	font-weight: bold;
	font-family: 'Comfortaa', sans-serif;
	background: #1E84B3;
	padding: 5px 25px 0px 5px;
	border-radius: 0px 20px 00px 0px;
}

.name-header:hover {
	background-color: #3DADE0;
	color: #fff;
}

.text-color-lavender {
	color: #63A8FF;
}

.text-color-blue {
	color: #1E84B3;
}

a .text-color-blue:hover{
	color: #3DADE0;
}
.text-color-teal {
	color: #22959C;
}

.text-color-seafoam {
	color: #1EB391;
}

.carousel {
  max-height: 400px;
  overflow: hidden;
}

.navbar {
	opacity: 0.94;
}

.course-list {
	font-size: 70%;
	padding: 20px 0px 0px 0px !important;
	border-radius: 10px;
}

.card:hover .course-title {
	color: rgba(34, 149, 156, 1);
}

.course-list li:hover {
	color: rgba(34, 149, 156, 1);
}

.course-list ul {
	list-style: inside;
	padding-left: 0px;
}

.collapsing i {
    -webkit-transition: none;
    transition: none !important;
}

.collapsing i:before {
	content: '.' !important;
}

.social {
	font-size: 200%;
	color: #1E84B3;
  	transition: 0.3s;
	padding-left: 10px;
	float: right;
}

.social:hover {
	color: #3DADE0;
}

.pdf-frame {
	width: 100% !important;
	height: 600px !important;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	}
}

/* Typewrter effect */
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.footer {
	padding: 10px 10px 10px 10px;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(22) 1s 1 normal both,
             blinkTextCursor 500ms steps(22) 8 normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 6em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}