.category-wrapper {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-flow: column;
}

.category-star {
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.6;
  padding: 1.5rem;
  width: min-content;
  height: min-content;
  position: relative;
  pointer-events: visiblePainted;
  transform-origin: 0 0;
}
