body {
  background-color: black;
  overflow: hidden;
}

.appWrapper {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  justify-content: center;
}

.topicWrapper {
  position: absolute;
  top: 30%;
  color: white;
  font-size: 3em;
}

.constellation-wrapper {
  color: white;
}

.constellation-stars {
  filter: brightness(.5);
  transition: filter 0.3s ease-in-out;
}

.constellation-stars:hover {
  filter: brightness(1.5);
}

.titleText {
  position: absolute;
  top: 5%;
  font-size: 5rem;
  color: white;
}
